# Local .terraform directories
**/.terraform/*

# .tfstate files — these can contain sensitive data
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# terraform.tfvars files often contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config files
.terraformrc
terraform.rc

# Lock file (optional to commit, but often excluded for module dev)
# .terraform.lock.hcl
